<!doctype html>
<html lang="en" ng-app="equipamentosModulo">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../favicon.png">
      <title>Equipamentos</title>
      <!-- Bootstrap core CSS -->
      <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="style4.css">
      <!-- Custom styles for this template -->
      <link href="form-validation.css" rel="stylesheet">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

      <!-- Config Firebase -->
      <script src = "https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
      <script src="../dist/js/config.js"></script>

      <!-- Font Awesome JS -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
      <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" data-semver="1.2.16"></script>
      <script src="../dist/js/equipamentos.js"></script>
      <script src="../dist/js/dirPagination.js"></script>
      
   </head>
   <body class="bg-light" ng-controller = "equipamentosController">
      <div class="wrapper">
         <!-- Sidebar  -->
         <nav id="sidebar">
            <div class="sidebar-header">
               <h3>Menu</h3>
               <strong>MN</strong>
            </div>
            <ul class="list-unstyled components">
               <li>
                  <a href="#pageSubmenuCadastro" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >
                  <i class="fas fa-plus-square"></i>
                  Cadastrar
                  </a>
                  <ul class="collapse list-unstyled" id="pageSubmenuCadastro">
                     <li>
                        <a href="cadastrarSetor.html">Setor</a>
                     </li>
                     <li>
                        <a href="cadastrarEquipamento.html">Equipamento</a>
                     </li>
                  </ul>
               </li>
               <li>
                  <a href="#pageSubmenuList" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fas fa-table"></i>
                  Listas
                  </a>
                  <ul class="collapse list-unstyled" id="pageSubmenuList">
                     <li>
                        <a href="setores.html">Setores</a>
                     </li>
                     <li>
                        <a href="equipamentos.html">Equipamentos</a>
                     </li>
                  </ul>
               </li>
               <li>
                  <a href="monitoramento.html">
				  <i class="fas fa-map-marker-alt"></i>
                  Monitor
                  </a>
               </li>
            </ul>
         </nav>
         <!-- Page Content  -->
         <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-full">
               <div class="container-fluid">
                  <button type="button" id="sidebarCollapse" class="btn btn btn-outline-light">
                  <i class="fas fa-align-left"></i>
                  <span> Menu </span>
                  </button>
                 
				 <h1 class="title">Lista de Equipamentos</h1>

               </div>
            </nav>
			
			<div class="alert alert-danger" id="alertExcluir" style="display:none;" role="alert">
				  Setor deletado com sucesso!
			</div>
			<div class="alert alert-success" id="alertSalvar" style="display:none;" role="alert">
				  Edição salva com sucesso!
			</div>
          
            
			  <div class="my-3 p-3 bg-white rounded shadow-sm">
				 <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
				 <br>
				 <div class = "container">
					<div class="input-group">
					   <div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa fa-search"></i></span>
					   </div>
					   <input type="text" ng-model = "pesquisaequipamento" class="form-control" id="pesquisa" >
					</div>
					<br>
					<table class="table table-bordered table-hover">
					   <thead>
						  <tr>
                     
							 <th ng-click="ordenar('nome')">Nome <i class="fa fa-fw fa-sort"></i></th>
							 <th ng-click="ordenar('patrimonio')">Patrimonio<i class="fa fa-fw fa-sort"></i></th>
							 <th ng-click="ordenar('marca')">Marca <i class="fa fa-fw fa-sort"></i></th>
							 <th ng-click="ordenar('modelo')">Modelo <i class="fa fa-fw fa-sort"></i></th>
							 <th ng-click="ordenar('serie')">Serie <i class="fa fa-fw fa-sort"></i></th>
							 <th ng-click="ordenar('setor')">Setor <i class="fa fa-fw fa-sort"></i></th>
							 <th ng-click="ordenar('tag')">Dispositivo <i class="fa fa-fw fa-sort"></i></th>
							 <th>Editar</th>
							 <th>Deletar</th>
						  </tr>
					   </thead>
					   <tbody>
						  <tr dir-paginate = "equipamentosTabela in equipamentos | filter : pesquisaequipamento  |itemsPerPage:4 | orderBy:sortKey:reverse" ng-click = "selecionaEquipamento(equipamentosTabela">
                        <td>
                           <div style="text-align:center">
                              <span id = "span-nome-{{equipamentosTabela.codigo}}">{{equipamentosTabela.nome}}</span> 
                              <input id = "input-nome-{{equipamentosTabela.codigo}}" style = "display:none;width:102px;" value = "" type="text"  id="nome" placeholder="{{equipamentosTabela.nome}}"> 
                           </div>
                        </td>
                        <td>
                           <div style="text-align:center">
                              <span id = "span-patrimonio-{{equipamentosTabela.codigo}}">{{equipamentosTabela.patrimonio}}</span> 
                              <input id = "input-patrimonio-{{equipamentosTabela.codigo}}" style = "display:none;width:102px;" value = "" type="text"  id="patrimonio" placeholder="{{equipamentosTabela.patrimonio}}"> 
                           </div>                        
                        </td>
                        <td>
                           <div style="text-align:center">
                              <span id = "span-marca-{{equipamentosTabela.codigo}}">{{equipamentosTabela.marca}}</span> 
                              <input id = "input-marca-{{equipamentosTabela.codigo}}" style = "display:none;width:102px;" value = "" type="text"  id="marca" placeholder="{{equipamentosTabela.marca}}"> 
                           </div>
                        </td>
                        <td>
                           <div style="text-align:center">
                              <span id = "span-modelo-{{equipamentosTabela.codigo}}">{{equipamentosTabela.modelo}}</span> 
                              <input id = "input-modelo-{{equipamentosTabela.codigo}}" style = "display:none;width:102px;" value = "" type="text"  id="modelo" placeholder="{{equipamentosTabela.modelo}}"> 
                           </div>
                        </td>
                        <td>
                           <div style="text-align:center">
                              <span id = "span-serie-{{equipamentosTabela.codigo}}">{{equipamentosTabela.serie}}</span> 
                              <input id = "input-serie-{{equipamentosTabela.codigo}}" style = "display:none;width:102px;" value = "" type="text"  id="serie" placeholder="{{equipamentosTabela.serie}}"> 
                           </div>
                        </td>
                        <td>
                           <div style="text-align:center">
                              <span id = "span-setor-{{equipamentosTabela.codigo}}">{{equipamentosTabela.setor_nome}}</span> 
                              <select style = "display: none;width: 150px" ng-model ="equipamento.setor"  class="custom-select" id="setor_select-{{equipamentosTabela.codigo}}" ng-options = "setor.nome for setor in setores track by setor.codigo"></select>
                           </div>
                        </td>
                        <td>
                           <div style="text-align:center">
                                 <span id = "span-dispositivo-{{equipamentosTabela.codigo}}">{{equipamentosTabela.dispositivo}}</span> 
                                 <input id = "input-dispositivo-{{equipamentosTabela.codigo}}" style = "display:none;width:102px;" value = "" type="number" min="1"  id="dispositivo" placeholder="{{equipamentosTabela.dispositivo}}">
                           </div>
                           </td>
							 <td>
                         <div style = "width: 90px;text-align: center;">
                           <button type="button" id = "editar-{{equipamentosTabela.codigo}}" formnovalidate ng-click = "editar(equipamentosTabela.codigo)"  class="btn btn-outline-secondary"> <i class="fas fa-edit"></i>
                           <button style="display:none" type="button" id = "alterar-{{equipamentosTabela.codigo}}" formnovalidate ng-click = "alterar(equipamentosTabela.codigo)"  class="btn btn-outline-secondary"> <i class="far fa-save"></i>
                           <button style="display:none" type="button" id = "cancel-{{equipamentosTabela.codigo}}" formnovalidate ng-click = "cancel(equipamentosTabela.codigo)"  class="btn btn-outline-secondary"> <i class="fas fa-times"></i>
                        </div>
						 </td>
						 <td>
                      <div style="text-align: center;">
                        <button type="button" id = "excluir-{{equipamentosTabela.codigo}}" formnovalidate ng-click = "excluir(equipamentosTabela.codigo,equipamentosTabela)"  class="btn btn-outline-secondary">  <i class="fas fa-trash"></i></td>
                      </div>
						  </tr>
						  <br>
					   </tbody>
					</table>
					<dir-pagination-controls max-size="4" boundary-links="true"></dir-pagination-controls>
				 </div>
			  </div>
               
            <div class="container-fluid">
            </div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="../assets/js/vendor/popper.min.js"></script>
      <script src="../dist/js/bootstrap.min.js"></script>
      <script src="../assets/js/vendor/holder.min.js"></script>
      <script>
         // Example starter JavaScript for disabling form submissions if there are invalid fields
         (function() {
           'use strict';
         $('#sidebarCollapse').on('click', function () {
                   $('#sidebar').toggleClass('active');
         
               });
         
           window.addEventListener('load', function() {
             // Fetch all the forms we want to apply custom Bootstrap validation styles to
             var forms = document.getElementsByClassName('needs-validation');
         
             // Loop over them and prevent submission
             var validation = Array.prototype.filter.call(forms, function(form) {
               form.addEventListener('submit', function(event) {
                 if (form.checkValidity() === false) {
                   event.preventDefault();
                   event.stopPropagation();
                 }
                 form.classList.add('was-validated');
               }, false);
         
             });
         
           }, false);
         })();
      </script>
   </body>
   <footer align="center" class="sticky-footer">
      <div class="container my-auto">
         <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2018</span>
         </div>
      </div>
   </footer>
   <script src="../dist/js/jquery.min.js"></script>
</html>